@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-image: url("../dist/img/layered-steps-haikei.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie{
    @apply m-2;
    font-family: 'Poppins', sans-serif;
}